<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: The World Class List is here!We&#8217;ve been very fortunate to have worked in collaboration with @something_inc on such an amazing project over the last year. If you love #travel, #food and #cocktails, then this is a must watch! The series goes live today (15th May) on STAN in Australia, Amazon Prime in the U.S, U.K &#038; Spain, and Food Network in Brazil. More channels and countries to come. Well done to everyone involved @wildebeest_ @worldclass @method_studios @careywatkins @katepullendraws #branding #brandidentity #motion #titlesequence #drinks #adventure #bartender #worldclass #worldclasslist To watch the series visit www.makeitworldclass.com/list</title>
	<atom:link href="http://www.motherbird.com.au/the-world-class-list-is-hereweve-been-very-fortunate-to-have-worked-in-collaboration-with-something_inc-on-such-an-amazing-project-over-the-last-year-if-you-love-travel-food-and-cocktails/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.motherbird.com.au/the-world-class-list-is-hereweve-been-very-fortunate-to-have-worked-in-collaboration-with-something_inc-on-such-an-amazing-project-over-the-last-year-if-you-love-travel-food-and-cocktails/</link>
	<description></description>
	<lastBuildDate>Fri, 11 Jan 2019 08:23:47 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.4</generator>
</channel>
</rss>
