<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: We may have started Motherbird as 3 men, but the influence and impact that the women in our lives have had on us is absolutely immense. Thank you to every single one of you for shaping us into the people that we are.#iwd</title>
	<atom:link href="http://www.motherbird.com.au/we-may-have-started-motherbird-as-3-men-but-the-influence-and-impact-that-the-women-in-our-lives-have-had-on-us-is-absolutely-immense-thank-you-to-every-single-one-of-you-for-shaping-us-into-the-peo/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.motherbird.com.au/we-may-have-started-motherbird-as-3-men-but-the-influence-and-impact-that-the-women-in-our-lives-have-had-on-us-is-absolutely-immense-thank-you-to-every-single-one-of-you-for-shaping-us-into-the-peo/</link>
	<description></description>
	<lastBuildDate>Fri, 11 Jan 2019 08:17:19 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.4</generator>
</channel>
</rss>
