<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Today is #WorldCancerDay 2018. Unfortunately cancer is something that touches many, if not all of our lives. It means a lot to us to work on the branding and campaign for @worldcancerday each year and incredibly rewarding to produce work that contributes to the fight against cancer on a global scale. We’re also proud to be the design partner this year and for the years to come. #WeCanICan</title>
	<atom:link href="http://www.motherbird.com.au/today-is-worldcancerday-2018-unfortunately-cancer-is-something-that-touches-many-if-not-all-of-our-lives-it-means-a-lot-to-us-to-work-on-the-branding-and-campaign-for-worldcancerday-each-year-and/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.motherbird.com.au/today-is-worldcancerday-2018-unfortunately-cancer-is-something-that-touches-many-if-not-all-of-our-lives-it-means-a-lot-to-us-to-work-on-the-branding-and-campaign-for-worldcancerday-each-year-and/</link>
	<description></description>
	<lastBuildDate>Fri, 11 Jan 2019 08:23:44 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.4</generator>
</channel>
</rss>
