<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>collaborating &#8211; Motherbird</title>
	<atom:link href="http://www.motherbird.com.au/tag/collaborating/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.motherbird.com.au</link>
	<description></description>
	<lastBuildDate>Thu, 20 Dec 2018 02:51:38 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.4</generator>
	<item>
		<title>New Partnership with Oxfam</title>
		<link>http://www.motherbird.com.au/new-partner-oxfam/</link>
		<comments>http://www.motherbird.com.au/new-partner-oxfam/#respond</comments>
		<pubDate>Mon, 23 Oct 2017 23:52:31 +0000</pubDate>
		<dc:creator><![CDATA[Motherbird]]></dc:creator>
				<category><![CDATA[Collaborating]]></category>
		<category><![CDATA[collaborating]]></category>

		<guid isPermaLink="false">http://www.motherbird.com.au/wordpress/?p=730</guid>
		<description><![CDATA[One of our goals at Motherbird is to work with good people doing good things — and Oxfam Australia optimises this. We are proud to announce we will be working with them on an exciting new project that we can&#8217;t say a whole lot more about now, but will keep you updated!]]></description>
				<content:encoded><![CDATA[<p>One of our goals at Motherbird is to work with good people doing good things — and Oxfam Australia optimises this. We are proud to announce we will be working with them on an exciting new project that we can&#8217;t say a whole lot more about now, but will keep you updated!</p>
]]></content:encoded>
			<wfw:commentRss>http://www.motherbird.com.au/new-partner-oxfam/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
