<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Delighted to announce  @jackmussett will join an impressive panel of creatives @pausefest to discuss &#8216;How to make ideas happen&#8217;. #pause2017</title>
	<atom:link href="http://www.motherbird.com.au/delighted-to-announce-jackmussett-will-join-an-impressive-panel-of-creatives-pausefest-to-discuss-how-to-make-ideas-happen-pause2017/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.motherbird.com.au/delighted-to-announce-jackmussett-will-join-an-impressive-panel-of-creatives-pausefest-to-discuss-how-to-make-ideas-happen-pause2017/</link>
	<description></description>
	<lastBuildDate>Fri, 11 Jan 2019 08:24:20 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.4</generator>
</channel>
</rss>
