<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Our own @jackmussett has recently launched @wordformco — exploring the workings of the creative mind through the guise of a single word. Creatives are too often asked the same questions about their processes, practices and background. From these questions, we rarely gauge a true or honest understanding of what it means to be creative from a personal and professional point of view. Word—Form opens a dialogue by challenging creatives to reflect on their processes in an indirect way. Every month, three creatives write on a new topic, sharing their thoughts, experiences and opinions based around a single word. The first topic &#8216;Pleasure&#8217; has just been launched and features some amazing creatives. The wonderful opening motion piece was made by @joyce.n.ho Have a read www.word-form.com and subscribe for monthly words in your mailbox.#wordform #pleasure #creativity #design #writing #creativewriting #designwriting</title>
	<atom:link href="http://www.motherbird.com.au/our-own-jackmussett-has-recently-launched-wordformco-exploring-the-workings-of-the-creative-mind-through-the-guise-of-a-single-word-creatives-are-too-often-asked-the-same-questions-about/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.motherbird.com.au/our-own-jackmussett-has-recently-launched-wordformco-exploring-the-workings-of-the-creative-mind-through-the-guise-of-a-single-word-creatives-are-too-often-asked-the-same-questions-about/</link>
	<description></description>
	<lastBuildDate>Fri, 11 Jan 2019 08:23:54 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.4</generator>
</channel>
</rss>
