<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Tonight marks the launch of the 2018 @melbjazzfestival, of which we are proud to be a major partner. We’ve revamped the brandmark and built a dynamic brand identity and language that we can’t wait to share. Stay tuned for more. #melbjazzfest #mijf2018 #jazz #jazzcanhappenanywhere #branding #brandidentity #campaignbranding #design</title>
	<atom:link href="http://www.motherbird.com.au/tonight-marks-the-launch-of-the-2018-melbjazzfestival-of-which-we-are-proud-to-be-a-major-partner-weve-revamped-the-brandmark-and-built-a-dynamic-brand-identity-and-language-that-we-can/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.motherbird.com.au/tonight-marks-the-launch-of-the-2018-melbjazzfestival-of-which-we-are-proud-to-be-a-major-partner-weve-revamped-the-brandmark-and-built-a-dynamic-brand-identity-and-language-that-we-can/</link>
	<description></description>
	<lastBuildDate>Fri, 11 Jan 2019 08:24:01 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.4</generator>
</channel>
</rss>
