<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: We are incredibly proud to share this piece of work.We worked with @handpickedwines on the Art Direction, Brand Identity, Brand Language and Packaging for their latest bottled endeavour – Versions.Wine is about good people, good food and sharing stories. Each new wine introduced to the range has a different short story around the theme of travel and place that are created from the same set of words.Primarily aimed at an international market, we’ve captured the unique shapes and rich colours of the Australian landscape to put together a truly &#8216;down under&#8217; wine.Photography – Tony Mott @t_mottStyling – Lauren De Innocentis @laurendeinnocentis#branding #brandidentity #artdirection #packaging #photography #photoshoot #handpickedwines #wine #australia #versions</title>
	<atom:link href="http://www.motherbird.com.au/we-are-incredibly-proud-to-share-this-piece-of-work-we-worked-with-handpickedwines-on-the-art-direction-brand-identity-brand-language-and-packaging-for-their-latest-bottled-endeavour-ver-2/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.motherbird.com.au/we-are-incredibly-proud-to-share-this-piece-of-work-we-worked-with-handpickedwines-on-the-art-direction-brand-identity-brand-language-and-packaging-for-their-latest-bottled-endeavour-ver-2/</link>
	<description></description>
	<lastBuildDate>Fri, 11 Jan 2019 08:24:12 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.4</generator>
</channel>
</rss>
