<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Late last year we partnered with @oxfamaustralia to produce the campaign for Oxfam Unwrapped. Engaging through empathy we created a sense of place, emphasising the positive impact being made overseas while creating banter between the gift giver and receiver. We’re incredibly proud to work on such an amazing project that empowers families, and even entire communities with the resources they need to lift themselves out of poverty.

Full Case Study — www.motherbird.com.au/projects/oxfam-unwrapped/</title>
	<atom:link href="http://www.motherbird.com.au/late-last-year-we-partnered-with-oxfamaustralia-to-produce-the-campaign-for-oxfam-unwrapped-engaging-through-empathy-we-created-a-sense-of-place-emphasising-the-positive-impact-being-made-overseas/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.motherbird.com.au/late-last-year-we-partnered-with-oxfamaustralia-to-produce-the-campaign-for-oxfam-unwrapped-engaging-through-empathy-we-created-a-sense-of-place-emphasising-the-positive-impact-being-made-overseas/</link>
	<description></description>
	<lastBuildDate>Fri, 11 Jan 2019 08:23:29 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.4</generator>
</channel>
</rss>
