<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>talking &#8211; Motherbird</title>
	<atom:link href="http://www.motherbird.com.au/tag/talking/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.motherbird.com.au</link>
	<description></description>
	<lastBuildDate>Thu, 20 Dec 2018 02:51:38 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.4</generator>
	<item>
		<title>Pause Fest</title>
		<link>http://www.motherbird.com.au/pause-fest/</link>
		<comments>http://www.motherbird.com.au/pause-fest/#respond</comments>
		<pubDate>Mon, 19 Jun 2017 00:43:32 +0000</pubDate>
		<dc:creator><![CDATA[Motherbird]]></dc:creator>
				<category><![CDATA[Talking]]></category>
		<category><![CDATA[talking]]></category>
		<category><![CDATA[thinking]]></category>

		<guid isPermaLink="false">http://www.motherbird.com.au/wordpress/?p=186</guid>
		<description><![CDATA[We recently spoke at the 2017 Pause Fest conference in Melbourne, Australia. Our Creative Director Jack Mussett sat on a panel themed &#8216;How to make ideas happen&#8217; with Diana Williams (Lucasfilm), Jess Huddart (Josephmark), Duncan Turner (Hax) and David Kjelkerud (Dropbox). Creativity is an experience that needs to come alive beyond a brief. Discover how, at [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>We recently spoke at the 2017 Pause Fest conference in Melbourne, Australia. Our Creative Director Jack Mussett sat on a panel themed &#8216;How to make ideas happen&#8217; with Diana Williams (Lucasfilm), Jess Huddart (Josephmark), Duncan Turner (Hax) and David Kjelkerud (Dropbox).</p>
<p class="p1"><span class="s1">Creativity is an experience that needs to come alive beyond a brief. Discover how, at the intersection of creative and technology, creatives are redefining the process of making ideas tangible.</span></p>
]]></content:encoded>
			<wfw:commentRss>http://www.motherbird.com.au/pause-fest/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
