<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: A few weeks ago we presented at @semipermanent in Sydney. We had a great time, made some new friends and were inspired by many amazing minds. It was a pleasure to be amongst such an incredible lineup. Here’s us being interviewed A Current Affair style after our talk. 
#SPsyd18 📸 @tobypeet</title>
	<atom:link href="http://www.motherbird.com.au/a-few-weeks-ago-we-presented-at-semipermanent-in-sydney-we-had-a-great-time-made-some-new-friends-and-were-inspired-by-many-amazing-minds-it-was-a-pleasure-to-be-amongst-such-an-incredible-lineup/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.motherbird.com.au/a-few-weeks-ago-we-presented-at-semipermanent-in-sydney-we-had-a-great-time-made-some-new-friends-and-were-inspired-by-many-amazing-minds-it-was-a-pleasure-to-be-amongst-such-an-incredible-lineup/</link>
	<description></description>
	<lastBuildDate>Fri, 11 Jan 2019 08:17:13 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.4</generator>
</channel>
</rss>
