<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Saturday was #WorldCancerDay 2017. It’s extraordinarily humbling to see the brand we created translated and interpreted by countless individuals, governments and organisations across the globe all joining the fight against cancer.  #WeCanICan @worldcancerday</title>
	<atom:link href="http://www.motherbird.com.au/saturday-was-worldcancerday-2017-its-extraordinarily-humbling-to-see-the-brand-we-created-translated-and-interpreted-by-countless-individuals-governments-and-organisations-across-the-globe/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.motherbird.com.au/saturday-was-worldcancerday-2017-its-extraordinarily-humbling-to-see-the-brand-we-created-translated-and-interpreted-by-countless-individuals-governments-and-organisations-across-the-globe/</link>
	<description></description>
	<lastBuildDate>Fri, 11 Jan 2019 08:24:14 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.4</generator>
</channel>
</rss>
