<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>doing &#8211; Motherbird</title>
	<atom:link href="http://www.motherbird.com.au/tag/doing/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.motherbird.com.au</link>
	<description></description>
	<lastBuildDate>Thu, 20 Dec 2018 02:51:38 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.4</generator>
	<item>
		<title>World Cancer Congress</title>
		<link>http://www.motherbird.com.au/world-cancer-congress/</link>
		<comments>http://www.motherbird.com.au/world-cancer-congress/#respond</comments>
		<pubDate>Fri, 04 May 2018 03:47:04 +0000</pubDate>
		<dc:creator><![CDATA[Motherbird]]></dc:creator>
				<category><![CDATA[Doing]]></category>
		<category><![CDATA[doing]]></category>

		<guid isPermaLink="false">http://www.motherbird.com.au/?p=1934</guid>
		<description><![CDATA[We’re pumped and incredibly proud to launch the brand for the World Cancer Congress to be held in Kuala Lumpur later this year. This is a very important date where the world’s best and brightest join forces in the fight against cancer. The developed brand reflects the vibrant colours of Malaysia while also referencing national [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>We’re pumped and incredibly proud to launch the brand for the World Cancer Congress to be held in Kuala Lumpur later this year. This is a very important date where the world’s best and brightest join forces in the fight against cancer.</p>
<p>The developed brand reflects the vibrant colours of Malaysia while also referencing national and cultural icons.</p>
<p>We&#8217;re excited to see it further develop over the coming months. Stay tuned&#8230;more to come.</p>
]]></content:encoded>
			<wfw:commentRss>http://www.motherbird.com.au/world-cancer-congress/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Word—Form</title>
		<link>http://www.motherbird.com.au/word-form/</link>
		<comments>http://www.motherbird.com.au/word-form/#respond</comments>
		<pubDate>Thu, 26 Oct 2017 12:08:05 +0000</pubDate>
		<dc:creator><![CDATA[Motherbird]]></dc:creator>
				<category><![CDATA[Doing]]></category>
		<category><![CDATA[doing]]></category>

		<guid isPermaLink="false">http://www.motherbird.com.au/wordpress/?p=717</guid>
		<description><![CDATA[Creatives are too often asked the same questions about their processes, practices and background. From these questions, we rarely gauge a true or honest understanding of what it means to be creative from a personal and professional point of view. Word—Form aims to open a dialogue by challenging creatives to reflect on their processes in [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Creatives are too often asked the same questions about their processes, practices and background. From these questions, we rarely gauge a true or honest understanding of what it means to be creative from a personal and professional point of view. <a href="http://www.word-form.com" target="_blank" rel="noopener">Word—Form</a> aims to open a dialogue by challenging creatives to reflect on their processes in an indirect way.</p>
<p>Thus far the project has had contributions from an incredible group of people: Christopher Doyle, Leta Sobierajski, James Brown, Marsha Golemac, Karan Singh, Jess Cochrane, Kevin Finn, Gemma O&#8217;Brien, Gabby Lord, Brooke Holm, Dean Poole, Georgia Hill, Michael C Place, Shannon Bell, Luke van O, Kate Pullen, Anita McArthur, Andy Murray, Sha&#8217;an d&#8217;Anthes, Jim Antonopoulos &amp; Vince Frost&#8230;with many more to come.</p>
<p>View Word—Form <span style="text-decoration: underline;"><a href="http://www.word-form.com" target="_blank" rel="noopener">here</a></span>.</p>
]]></content:encoded>
			<wfw:commentRss>http://www.motherbird.com.au/word-form/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
