<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: We recently partnered with @handpickedwines to produce their seasonal campaign titled ‘Odyssey’, which is a celebration of creative collaboration.

We created the campaign story and name, produced the neon and foiled packaging, themed the launch event and art directed the beautiful visualisations.

Film &#038; Photography – @bennyedwards_</title>
	<atom:link href="http://www.motherbird.com.au/we-recently-partnered-with-handpickedwines-to-produce-their-seasonal-campaign-titled-odyssey-which-is-a-celebration-of-creative-collaboration-we-created-the-campaign-story-and-na/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.motherbird.com.au/we-recently-partnered-with-handpickedwines-to-produce-their-seasonal-campaign-titled-odyssey-which-is-a-celebration-of-creative-collaboration-we-created-the-campaign-story-and-na/</link>
	<description></description>
	<lastBuildDate>Fri, 11 Jan 2019 08:23:06 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.4</generator>
</channel>
</rss>
