<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: We’re incredibly proud of our work with @something_inc — a creative collaborative focused on bringing people &#038; brands together.

The brand aims to challenge the way we view the logo by delving into the subconscious via the conscious. By censoring the logo and incorporating it into language we encourage the audience to fill in the gaps, placing Something™ in their mouths not just their eyes.

View the whole case study on our website — motherbird.com.au

#branding #brandidentity #copywriting #verbalbranding #printdesign #digitaldesign</title>
	<atom:link href="http://www.motherbird.com.au/were-incredibly-proud-of-our-work-with-something_inc-a-creative-collaborative-focused-on-bringing-people-brands-together-the-brand-aims-to-challenge-the-way-we-view-the-log-17/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.motherbird.com.au/were-incredibly-proud-of-our-work-with-something_inc-a-creative-collaborative-focused-on-bringing-people-brands-together-the-brand-aims-to-challenge-the-way-we-view-the-log-17/</link>
	<description></description>
	<lastBuildDate>Fri, 11 Jan 2019 08:17:07 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.4</generator>
</channel>
</rss>
