<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Always fun letting loose with colour in branding for our friends @letthemeatcakenyd.

Textures by the wonderfully playful @furpuff

#branding #brand #brandidentity #imagemaking #graphicdesign #design #music #festival #ltecnyd</title>
	<atom:link href="http://www.motherbird.com.au/always-fun-letting-loose-with-colour-in-branding-for-our-friends-letthemeatcakenyd-textures-by-the-wonderfully-playful-furpuffbranding-brand-brandidentity-imagemaking-graphicdesign-design/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.motherbird.com.au/always-fun-letting-loose-with-colour-in-branding-for-our-friends-letthemeatcakenyd-textures-by-the-wonderfully-playful-furpuffbranding-brand-brandidentity-imagemaking-graphicdesign-design/</link>
	<description></description>
	<lastBuildDate>Fri, 11 Jan 2019 08:24:04 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.4</generator>
</channel>
</rss>
