<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Our pals at @get_tiller have just been fully funded on @kickstarter for their innovative time tracking product. We’re excited to get our hands on one in the studio. You’ve got 7 days to get your hands on one via the campaign. #gettiller</title>
	<atom:link href="http://www.motherbird.com.au/our-pals-at-get_tiller-have-just-been-fully-funded-on-kickstarter-for-their-innovative-time-tracking-product-were-excited-to-get-our-hands-on-one-in-the-studio-youve-got-7-days-t/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.motherbird.com.au/our-pals-at-get_tiller-have-just-been-fully-funded-on-kickstarter-for-their-innovative-time-tracking-product-were-excited-to-get-our-hands-on-one-in-the-studio-youve-got-7-days-t/</link>
	<description></description>
	<lastBuildDate>Fri, 11 Jan 2019 08:23:41 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.4</generator>
</channel>
</rss>
