<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: We’ve recently collaborated with @prahranmarket to produce their broadsheet ‘FEED’. It’s full of interesting reads as well as ideas around good eating and drinking. #branding #brandidentity #publicationdesign #publication #prahranmarket #marketfeed</title>
	<atom:link href="http://www.motherbird.com.au/weve-recently-collaborated-with-prahranmarket-to-produce-their-broadsheet-feed-its-full-of-interesting-reads-as-well-as-ideas-around-good-eating-and-drinking-br/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.motherbird.com.au/weve-recently-collaborated-with-prahranmarket-to-produce-their-broadsheet-feed-its-full-of-interesting-reads-as-well-as-ideas-around-good-eating-and-drinking-br/</link>
	<description></description>
	<lastBuildDate>Fri, 11 Jan 2019 08:24:07 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.4</generator>
</channel>
</rss>
