<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Recently @jackmussett spoke to @ausdesignradio where they touched on balancing work and life, creative thinking, the meandering brain, working with friends, side projects and diversity. 
Thanks to @ausdesignradio for the opportunity and to the hosts @flyntracy &#038; @tinavictoria_ for the honest and enjoyable conversation.

Have a listen if you would like — www.ausdesignradio.com to stream or subscribe using any podcast app by searching for ausdesignradio.

#podcast #adr #design #graphicdesign #branding #words #melbourne #australia #creativity

Photograph — @tobypeet</title>
	<atom:link href="http://www.motherbird.com.au/recently-jackmussett-spoke-to-ausdesignradio-where-they-touched-on-balancing-work-and-life-creative-thinking-the-meandering-brain-working-with-friends-side-projects-and-diversity-thanks-to-au/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.motherbird.com.au/recently-jackmussett-spoke-to-ausdesignradio-where-they-touched-on-balancing-work-and-life-creative-thinking-the-meandering-brain-working-with-friends-side-projects-and-diversity-thanks-to-au/</link>
	<description></description>
	<lastBuildDate>Fri, 11 Jan 2019 08:23:31 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.4</generator>
</channel>
</rss>
