<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: AMS – LDN – GVAThe end of an amazing few weeks in Europe for @chrisjmurphy. Partnering with clients on projects which contribute to a greater global good. Exciting things to come. #europe #designforgood</title>
	<atom:link href="http://www.motherbird.com.au/ams-ldn-gvathe-end-of-an-amazing-few-weeks-in-europe-for-chrisjmurphy-partnering-with-clients-on-projects-which-contribute-to-a-greater-global-good-exciting-things-to-come/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.motherbird.com.au/ams-ldn-gvathe-end-of-an-amazing-few-weeks-in-europe-for-chrisjmurphy-partnering-with-clients-on-projects-which-contribute-to-a-greater-global-good-exciting-things-to-come/</link>
	<description></description>
	<lastBuildDate>Fri, 11 Jan 2019 08:24:11 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.4</generator>
</channel>
</rss>
