<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: We’re back at @semipermanent this year!We’ll be running a Lab/Workshop on “Building a studio from the ground up; culture, creativity, chaos”. We’ll leave no stone unturned as we engage in a robust reflection on what it means to run a studio, how we’ve struggled, how we’ve excelled and why we will continue to learn and make mistakes.Open to premium ticket holders25.05.183pm—4pmwww.semipermanent.com#SPsyd18</title>
	<atom:link href="http://www.motherbird.com.au/were-back-at-semipermanent-this-yearwell-be-running-a-lab-workshop-on-building-a-studio-from-the-ground-up-culture-creativity-chaos-well-leave-no-s/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.motherbird.com.au/were-back-at-semipermanent-this-yearwell-be-running-a-lab-workshop-on-building-a-studio-from-the-ground-up-culture-creativity-chaos-well-leave-no-s/</link>
	<description></description>
	<lastBuildDate>Fri, 11 Jan 2019 08:23:35 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.4</generator>
</channel>
</rss>
