<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Measure twice, cut once.
Naming and brand identity for @measureengineering.</title>
	<atom:link href="http://www.motherbird.com.au/measure-twice-cut-once-naming-and-brand-identity-for-measureengineering-2/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.motherbird.com.au/measure-twice-cut-once-naming-and-brand-identity-for-measureengineering-2/</link>
	<description></description>
	<lastBuildDate>Fri, 11 Jan 2019 08:24:30 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.4</generator>
</channel>
</rss>
