<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Eye candy for the @letthemeatcake branding. Who said you can’t have your cake and eat it!?
Textures by @furpuff</title>
	<atom:link href="http://www.motherbird.com.au/eye-candy-for-the-letthemeatcake-branding-who-said-you-cant-have-your-cake-and-eat-ittextures-by-furpuff/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.motherbird.com.au/eye-candy-for-the-letthemeatcake-branding-who-said-you-cant-have-your-cake-and-eat-ittextures-by-furpuff/</link>
	<description></description>
	<lastBuildDate>Fri, 11 Jan 2019 08:24:18 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.4</generator>
</channel>
</rss>
