<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Next year is shaping up to be incredibly exciting. We’ll be launching a great project in Malaysia that we’ve been hard at work on. Here’s a sneak peek. #branding #brandidentity #campaign #malaysia #kualalumpur</title>
	<atom:link href="http://www.motherbird.com.au/next-year-is-shaping-up-to-be-incredibly-exciting-well-be-launching-a-great-project-in-malaysia-that-weve-been-hard-at-work-on-heres-a-sneak-peek-branding-brandidentity/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.motherbird.com.au/next-year-is-shaping-up-to-be-incredibly-exciting-well-be-launching-a-great-project-in-malaysia-that-weve-been-hard-at-work-on-heres-a-sneak-peek-branding-brandidentity/</link>
	<description></description>
	<lastBuildDate>Fri, 11 Jan 2019 08:19:18 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.4</generator>
</channel>
</rss>
